html {
    background-color: black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
}

label > p {
    background-color: #FFCC00;
    padding: 10px;
    font-weight: 800;
}

.container-wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-wrapper > * {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.input-bar{
    width:100%;
}

.input-bar > input:disabled {
    background: lightgray;
}
    
.input-bar >  input {     
    flex: 1;
    background-color: #FFCC00;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: medium;   
    font-weight: 800;
}

.input-bar >  input:not(:last-child){
    margin-right: 5px;
}

.container {
    border: 5px solid #FFCC00 ;
    padding:15px;
    display: grid;
    gap: 5px 5px;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    justify-content: left;
    align-content: flex-start;    
}

.column3, .column6 {
    margin-right: 20px;
}

.row3, .row6 {
    margin-bottom: 20px;
}

.container > input {
    background-color: #FFCC00;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;    
}

.container > input:disabled {
    color: rgba(0, 0, 0, 0.4);
}

.container > input.solved {
    background-color: #33FF00;
    color:black;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}